/*.gallery-plugin {
    z-index:-999; background-color: red; opacity: 1; width: 200px; height: 200px;
}*/
.galleria{
    width: 500px; height: 400px; background: #000 ;
   /* position: relative !important;*/
    }
    .galleria-stage .galleria-images .galleria-image img{
    width: 450px !important; height: 330px !important;
    position: relative !important;
    }
    