/*.gallery-plugin {
    z-index:-999; background-color: red; opacity: 1; width: 200px; height: 200px;
}*/
 .galleria {
    width: 500px;
    height: 500px;
    background: #000;
    position: relative !important;
}
/* .galleria-stage .galleria-images .galleria-image img{
    width: 450px !important; height: 330px !important;
    position: relative !important;
    }*/
 .galleria-stage {
    height: 391px;
    width: 450px;
    position: absolute;
    top: -15px !important;
    bottom: 84px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}
.gallery-properties-box {
    border-bottom: 2px solid #999;
    padding: 10px;
}
.properties-images-grid {
    height: 67%;
}
.save-asset-manager-box {
    border-top: 2px solid #999;
    padding: 10px;
    text-align: center;
}
.edit-box {
    position: relative;
    float: right;
    bottom: 27px;
}
#asset-manager img {
    border: 1px solid;
}

#asset-manager .selected{
    border: 1px solid red;
}
.properties-images-grid img {
    border: 1px solid;
}
#sortable img {
    cursor: move;
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}
#sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 100px;
}

/** for the cross icon at the top right corner to facilitate deletion of the image from Gallery Properties */
.img-wrap {
    position: relative;
    display: inline-block;
  
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;   /* need to be lower than .black_overlay */
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    padding: 16px;
    border: 16px solid orange;
    background-color: transparent;
    z-index:1002;
    overflow: auto;
}