<div id="like-module-shell" class="module-shell" data-ng-controller="LikeModule.ngController">
  <div class="webcom-property-panel-directive"></div>

  <!-- property slides -->
  
  <div type="text/webcom-template" id="box-tab-1">
   <div class="box title"><label>Social Properties</label> <inupt type="button" value="EDIT BOX" style="align:right" /></div>
   <div class="box body-properties">
    <div>
    <label>Color Schema:</label>
    </div>
    <div>
    <select data-ng-model="color" Value="light" kendo-drop-down-list>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
    </div>
    <div>
    <label>Layout Style:</label>
    </div>
    <div>
    <select ng-model="layout" ng-init="layout=standard"  kendo-drop-down-list>
      <option value="standard">Standard</option>
      <option value="box_count">Box Count</option>
    </select>
    </div>
    <div>
    <label>Display Label:</label>
    </div>
    <div>
     <select data-ng-model="action" kendo-drop-down-list>
      <option value="like">Like</option>
      <option value="recommend">Recommend</option>
    </select>
    </div>
  </div>
    <div class="box submit"><input type="button" value="SAVE TO CONTENT MANAGE"/></div>
</div>

</div>