<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Help Module Tester</title>
        <link href="../view/css/help-overlay.css" rel="stylesheet"
        type="text/css" />
		<script src="../../../../assets/libs/jquery/1.10.1/jquery.min.js">
		</script>
		
	</head>
	  
    
    <body>
        <div id="helpoverlay" style=" width: 100%;">
            <div class='help-main-container'>
			<img src="../images/Screenshot-1.png" style=" width: 100%;height:100%;" />
			
			<div id="slide1">
			
			<div class='overlay-container' style="width: 100%;">
                    <div class='top-container'>
                        <div class="container top-header-container">Congratulations, You're on your way!</div>
                        <div class="container left-container">Quick Tutorial -- Then customise your Design</div>
                        <div class="container right-container">Customize Now -- Skip Tutorial</div>
                        
                           <br>
                        <img id="loadPage1" class="cursorpointer" style="position: absolute;	right: 665px; top: 224px;" src="../images/tutorial.png"/>
                        <img id="loadPage1"  style="position: absolute;	right: 213px; top: 224px;" src="../images/customize.png"/>
                            
                           
                        </div>
			</div>
			</div>
			
			<div id="slide2" style="display:none;">
			 <div class='overlay-container' style="width: 94%;">
                    <div class="container right-container container-content">Content Manager -- Select a content type to add to your website</div>  
					</div>
					 <br>
                        <img  id="loadPage2" class="cursorpointer" style="position: absolute;
				right: 145px;
				top: 99px; " src="../images/next.png">
              
			
			</div>
			<div id="slide3" style="display:none;">
			<div class='overlay-container' style="width: 76%">
                    <div class="container right-container container-content">Drag & drop your content such as text, images, forms, or videos onto the
                        canvas</div>
						 <br>
                       <img  id="loadPage3" class="cursorpointer" style="   position: absolute;
						right: 53px;
						top: 123px;" src="../images/next.png"></a>
                </div>
			
         
			</div>
			
			
			<div id="slide4"style="display:none;" >
                
                <div class='overlay-container-top-slide4'>
                    <div class="container right-container container-content-slide4 content-transparent">Select a content on the <br> canvas by clicking on it<br> once
                         
                    </div>
                   <br><img id="loadPage4" class="cursorpointer" style=" position: absolute;
                                                 right: 74px;
                                     top: 237px; " src="../images/next.png"> 
                    <div class="image-box-properties">
                        
                    </div>
                </div>
                
                <div class="overlay-container-left-slide4">
                  <div class="image-box-properties">
                        
                    </div>
                </div>
                 
                <div class="overlay-container-bottom-slide4">
                  <div class="image-box-properties">
                        
                    </div>
                </div>
                <div class="overlay-container-right-slide4">
                  <div class="image-box-properties">
                        
                    </div>
                </div>
                <div class="overlay-containerr-right-center-slide4">
                   
                    <div class="image-box-properties">
                        
                    </div>
                </div>
				</div>
				<div id="slide5" style="display:none;">
                 <div class='overlay-container-top-slide5'>
                    <div class="container right-container container-content-slide5 content-transparent">Edit the container with
                        <br>the Box properties panel
                        <br>
                       <img  id="loadPage5" class="cursorpointer" style="   position: absolute;
                    right: 168px;
                top: 70px; " src="../images/next.png">
                    </div>
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-left-slide5">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-bottom-slide5">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-right-slide5">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-containerr-right-center-slide5">
                    <div class="image-box-properties"></div>
                </div>
                
                
                </div>
				<div id="slide6" style="display:none;">
				 <div class='overlay-container-top-slide6'>
                    <div class="container left-container container-content">The Edit Text selection allows you to make changes to the content within the box  </div>
                    <div class="container right-container container-content-slide6 content-transparent">Clicking the Edit selection allows you to make changes to the content within the box</div>
                                   
                <br><img  id="loadPage6" class="cursorpointer" style="  position: absolute;
                                right: 149px;
                         top: 271px; " src="../images/next.png">
                    <div class="image-box-properties">
                        
                    </div>
              
                
                <div class="overlay-container-left-slide6">
                  <div class="image-box-properties">
                        
                    </div>
                </div>
                 
                <div class="overlay-container-bottom-slide6">
                  <div class="image-box-properties">
                        
                    </div>
                </div>
                <div class="overlay-container-right-slide6">
                  <div class="image-box-properties">
                        
                    </div>
                </div>
				</div>
				</div>
				
				<div id="slide7"style="display:none;">
			<div class='overlay-container-top-slide7'></div>
                <div class="image-box-properties"></div>
            
            <div class="overlay-container-right-slide7">
                <div class="container left-container container-content-slide7">Manage Pages-- Add a page, remove a page, or re-order your page</div>
                <div class="container left-container container-content-stripetop"></div>
                 <div class="container left-container container-content-stripebottom"></div>
            <div class="image-box-properties"></div>
            <br>
            <img  id="loadPage7" class="cursorpointer" style="  left: 351px;
                         position: absolute;
                        top: 391px; " src="../images/next.png">
        </div>
			
				</div>
				
				<div id="slide8"style="display:none;">
				 <div class='overlay-container-right-slide8'>
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-left-slide8">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-bottom-slide8">
                    <div class="container right-container container-content-slide8 content-transparent">Undo/redo changes or go into Settings, to adjust background display or
                        layout and page settings</div>
                </div>
                <br>
                <img  id="loadPage8" class="cursorpointer" style="position: absolute;
					right: -12px;
				top: 220px;" src="../images/next.png">
                <div class="image-box-properties"></div>
            </div>
			
			
			
			<div id="slide9"style="display:none;">
			
			<div class="overlay-container-left-slide9">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-bottom-slide9">
                    <div class="container-content-slide9-1 ">Publish your site</div>
                                            <div class="container-content-slide9-2 ">Preview your site in a Browser</div>
                                            <div class="container-content-slide9-3 ">Search Help topics</div>
                </div>
                <br>
                <<img  id="loadPage9" class="cursorpointer" style="     position: absolute;
                     right: -12px;
                    top: 220px;" src="../images/next.png">
                <div class="image-box-properties"></div>
            </div>
			
			<div id="slide10" style="display:none;">
			 <div class='overlay-container-right-slide10'>
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-bottom-slide10">
                    <div class="container left-container container-content-slide10 content-transparent">The Menu button to access the existing sites, create new sites and to
                        get help with your website</div>
                </div>
                <br>
                <img  id="loadPage10" class="cursorpointer" style="  left: 252px;
			position: absolute;
			top: 199px;" src="../images/end.png">
                <div class="image-box-properties"></div>
            </div>
			
            </div>
        </div>
        <?php require_once( 'common/page-includes.builder.php')?>
    </body>
<script type="text/javascript">
			$(document).ready(function(e){
				var countr = 1;
				
				for(var i=1; i<12; i++) {
					$('#loadPage'+i).click(function() {
					loadScreen() ;
				});
				}
				
				
				
				function loadScreen() {
					for(var i=1; i<12; i++) {
						$('#slide'+i).css("display","none");
					}
					$('#slide'+countr).css("display","block");
					countr++;
				}
				for(var i=2; i<12; i++) {
					$('#slide'+i).css("display","none");
				}
			});
					
			/*jQuery(function(){
				jQuery('#loadPage').click(function(){
					jQuery('#slide4').load('slide5-new.html') 
							
					);
				});
			})*/
		</script>		
</html>