<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Help Module Tester</title>
        <link href="../view/css/help-overlay.css" rel="stylesheet"
        type="text/css" />
    </head>
    
    <body>
        <div id="helpoverlay-module-shell" style="display:none;">
            <div class='help-main-container'>
                <img src="../images/Screenshot-1.png" />
                <div class='overlay-container-right-slide11'>
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-bottom-slide11">
                    <div class="container left-container container-content-slide11 content-transparent">The Menu button to access the existing sites, create new sites and to
                        get help with your website</div>
                </div>
                <br>
                <a href=""><img  style="  left: 252px;
    position: absolute;
    top: 199px;" src="../images/end.png"></a>
                <div class="image-box-properties"></div>
            </div>
        </div>
        </div>
        <?php require_once( 'common/page-includes.builder.php')?>
    </body>

</html>