<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Help Module Tester</title>
        <link href="../view/css/help-overlay.css" rel="stylesheet"
        type="text/css" />
    </head>
    
    <body>
        <div id="helpoverlay-module-shell" style="display:none;">
            <div class='help-main-container'>
                <img src="../images/Screenshot-1.png" />
                <div class='overlay-container' style="width: 79%">
                    <div class="container right-container container-content">Drag & drop your content such as text, images, forms, or videos onto the
                        canvas</div>
                </div>
            </div>
        </div>
        <?php require_once( '../tester/common/page-includes.builder.php')?>
    </body>

</html>