<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Help Module Tester</title>
        <link href="../view/css/help-overlay.css" rel="stylesheet"
        type="text/css" />
    </head>
    
    <body>
        <div id="helpoverlay-module-shell" style="display:none;">
            <div class='help-main-container'>
                <img src="../images/Screenshot-1.png" />
                <div class='overlay-container-top'>
                    <div class="container right-container container-content-slide5 content-transparent">Edit the container with
                        <br>the Box properties panel
                        <br>
                        <a href=""><img  style="   position: absolute;
                    right: 168px;
                top: 70px; " src="../images/next.png"></a>
                    </div>
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-left">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-bottom">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-container-right">
                    <div class="image-box-properties"></div>
                </div>
                <div class="overlay-containerr-right-center">
                    <div class="image-box-properties"></div>
                </div>
            </div>
        </div>
        <?php require_once( 'common/page-includes.builder.php')?>
    </body>

</html>