<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>Help Module Tester</title>
        <link href="../view/css/help-overlay.css" rel="stylesheet"
        type="text/css" />
    </head>
    
    <body>
        <div id="helpoverlay-module-shell" style="display:none;">
            <div class='help-main-container'>
                <img src="../images/Screenshot-1.png" />
                <div class='overlay-container-top-slide7'></div>
                <div class="image-box-properties"></div>
            </div>
            <div class="overlay-container-right-slide7">
                <div class="container left-container container-content-slide7">Manage Pages-- Add a page, remove a page, or re-order your page</div>
                <div class="container left-container container-content-stripetop"></div>
                 <div class="container left-container container-content-stripebottom"></div>
            <div class="image-box-properties"></div>
            <br>
            <a href=""><img  style="  left: 351px;
                         position: absolute;
                        top: 391px; " src="../images/next.png"></a>
        </div>
        </div>
        </div>
        <?php require_once( 'common/page-includes.builder.php')?>
    </body>

</html>