
.overlay-container {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-top {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 40%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 105%;
}
.overlay-container-left {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 398px;
    left: 0;
    margin-top: 294px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 25%;
}
.overlay-container-bottom {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 16%;
    left: 0;
    margin-top: 692px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 105%;
}
.overlay-container-right {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 39%;
    left: 0;
    margin-left: 710px;
    margin-top: 400px;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    width: 48%;
}
.overlay-containerr-right-center {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 114px;
    left: 0;
    margin-left: 898px;
    margin-top: 286px;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    width: 33%;
}
.overlay-container-top-slide4 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 40%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-left-slide4 {
 background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 384px;
    left: 0;
    margin-top: 287px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 24%;
}
.overlay-container-bottom-slide4 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 10%;
    left: 0;
    margin-top: 671px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-right-slide4 {
   background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 280px;
    left: 0;
    margin-left: 691px;
    margin-top: 386px;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    width: 573px;
}
.overlay-containerr-right-center-slide4 {
   background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 104px;
    left: 0;
    margin-left: 871px;
    margin-top: 282px;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    width: 392px;
}
.overlay-container-top-slide5 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 40%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-left-slide5 {
   background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 384px;
    left: 0;
    margin-top: 287px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 24%;
}
.overlay-container-bottom-slide5 {
     background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 10%;
    left: 0;
    margin-top: 671px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-right-slide5 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 280px;
    left: 0;
    margin-left: 691px;
    margin-top: 386px;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    width: 573px;
}
.overlay-containerr-right-center-slide5 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 104px;
    left: 0;
    margin-left: 871px;
    margin-top: 282px;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    width: 392px;
}
.overlay-container-top-slide6 {
     background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 299px;
    left: 0;
    margin-left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-left-slide6 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 26px;
    left: 0;
    margin-top: 299px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 47%;
}
.overlay-container-bottom-slide6 {
   background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 392px;
    left: 0;
    margin-top: 325px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-right-slide6 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 29px;
    left: 0;
    margin-left: 670px;
    margin-top: 296px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 47%;
}
.overlay-container-top-slide7 {
 background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 12%;
    left: 0;
    margin-left: -8px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 1272px;
}
.overlay-container-right-slide7 {
   background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 629px;
    left: 0;
    margin-left: 262px;
    margin-top: 85px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 1002px;
}
.overlay-container-left-slide8 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 94px;
    left: 0;
    margin-top: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 38%;
}
.overlay-container-bottom-slide8 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 85%;
    left: 0;
    margin-top: 94px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-right-slide8 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 94px;
    left: 0;
    margin-left: 953px;
    margin-top: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 311px;
}
.overlay-container-left-slide9 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 82px;
    left: 0;
    margin-top: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 78%;
}
.overlay-container-bottom-slide9 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 85%;
    left: 0;
    margin-top: 82px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-bottom-slide10 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 87%;
    left: 0;
    margin-top: 82px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlay-container-right-slide10 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 82px;
    left: 0;
    margin-left: 91px;
    margin-top: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 1172px;
}
.help-main-container {
    position: relative;
}
.top-container {
    border: 3px solid #FFFFFF;
    height: 410px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    width: 75%;
}
.container {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 42px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.top-header-container {
    padding: 10px 0;
    top: 4%;
    width: 90%;
}
.left-container {
    font-size: 28px;
    margin: 8px 0 0 43px;
    padding: 10px;
    text-align: left;
    top: 10%;
    width: 40%;
}
.right-container {
    bottom: 58px;
    float: right;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    right: 42px;
    text-align: left;
    width: 40%;
}
.container-content {
    bottom: -20px;
    font-size: 20px;
    width: 27%;
}
.container-content-slide8 {
    background: none repeat scroll 0 0 #FFFFFF !important;
    bottom: -20px;
    color: #000000 !important;
    font-size: 20px;
    width: 325px;
}
.container-content-slide9-1 {
    bottom: -33px;
    float: right;
    font-size: 20px;
    position: relative;
    right: 146px;
    top: -8px;
    width: 325px;
}
.container-content-slide9-2 {
    bottom: -33px;
    float: right;
    font-size: 20px;
    position: relative;
    right: -213px;
    top: 43px;
    width: 325px;
}
.container-content-slide9-3 {
    bottom: -33px;
    float: left;
    font-size: 20px;
    left: 1083px;
    position: relative;
    top: 73px;
}
.container-content-slide10 {
    font-size: 20px;
    top: 20px;
    width: 325px;
}
.container-content-stripetop {
    background: none repeat scroll 0 0 #000000;
    bottom: -20px;
    font-size: 20px;
    height: 224px;
    left: -67px;
    top: -108px;
    width: 4px;
}
.container-content-stripebottom {
    background: none repeat scroll 0 0 #000000;
    font-size: 20px;
    height: 230px;
    left: -67px;
    top: 20px;
    width: 4px;
}
.container-content-slide4 {
    bottom: -147px;
    font-size: 20px;
    right: 0;
    width: 27%;
}
.container-content-slide6 {
    bottom: -93px;
    font-size: 20px;
    right: 158px;
    width: 27%;
}
.container-content-slide5 {
    bottom: -184px;
    float: left;
    font-size: 20px;
    left: 20px;
    width: 27%;
}
.container-content-slide7 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-size: 20px;
    right: -76px;
    top: 305px;
    width: 27%;
}
.content-transparent {
    background-color: #000000;
    color: #FFFFFF;
}
.content-transparent {
    background-color: #000000;
    color: #FFFFFF;
}
.next {
    background: url("linear.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #6064A5;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
}
/*.arrow {
    background: linear-gradient(-45deg, #000000 50%, rgba(0, 0, 0, 0) 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 2em;
    height: 7em;
    margin: 5em;
    transform: rotate(45deg);
    width: 7em;
}*/
.image-box-properties {
    left: 4%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 10%;
}
.left-content {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
    height: 56px;
    left: 22%;
    position: absolute;
    top: 42%;
    width: 27%;
}
/*#curvedarrow {
    border-right: 9px solid #FF0000;
    border-top: 9px solid rgba(0, 0, 0, 0);
    height: 0;
    position: relative;
    transform: rotate(10deg);
    width: 0;
}
#curvedarrow:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FF0000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-radius: 20px 0 0;
    border-style: solid;
    border-width: 3px 0 0;
    content: "";
    height: 12px;
    left: -9px;
    position: absolute;
    top: -12px;
    transform: rotate(45deg);
    width: 12px;
}*/
.cursorpointer{
    cursor:pointer;
}