/** This style is used by 2share movie crud UI (Navigation bar, table styling etc) */
/*
    http://clagnut.com/sandbox/csstabs/?writingtext=csstabs
*/
/*globalnav*/

#globalnav {
    position:relative;
    float:left;
    width:100%;
    padding:0px 0px 10px 0px;
    /*margin-left:-5px;*/
    list-style:none;
    line-height:1em;
}

#globalnav LI {
    float:left;
    margin:0;
    padding:0;
}

#globalnav A {
    /*display:block;*/
    /*color:#444;*/
    text-decoration:none;
    font-weight:bold;
    background:#d3d3d3;
    margin:0;
    padding:0.25em 1em;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-right:1px solid #aaa;
}

#globalnav A:hover,
#globalnav A:active,
#globalnav A.here:link,
#globalnav A.here:visited {
    background:#756C6C;
    color: white;
}

#globalnav A.here:link,
#globalnav A.here:visited {
    position:relative;
    z-index:102;
}

/*subnav*/

#globalnav UL {
    position:absolute;
    height:36px;
    left:0;
    top:1.5em;
    float:left;
    background:#756C6C;
    width:100%;
    margin:0;
    padding:0.25em 0.25em 0.25em 1em;
    list-style:none;
    border-top:1px solid #fff;
}

#globalnav UL LI {
    float:left;
    display:block;
    margin-top:1px;
}

#globalnav UL A {
    background:#756C6C;
    color:#fff;
    display:inline;
    margin:0;
    padding:0 1em;
    border:0
}

#globalnav UL A:hover,
#globalnav UL A:active,
#globalnav UL A.here:link,
#globalnav UL A.here:visited {
    color:lightskyblue;
}

/** http://stackoverflow.com/questions/11961438/how-to-implement-a-loading-indicator-for-a-bootstrap-modal-waiting-for-ajax-to-f */
#loading-indicator {
    left: 10px;
    top: 10px;
}

.row {
    padding-top: 10px;
}

/** begin of overscroll issue workaround - Bootstrap 2.3.2 only
(leaving a white gap on the right on Android Chrome 4+ browser) - based on the inspirations found at https://github.com/twbs/bootstrap/issues/9855 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
        overflow-y: scroll;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        /*overflow-y: scroll;*/
        margin-right: 0;
        /*overflow: auto;*/
    }
}
/** end of overscoll issue workaround */