.login-form {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQYV2P4DwABAQEAWk1v8QAAAABJRU5ErkJggg==) no-repeat center;
    background-attachment: initial;
    margin-left: auto; margin-right: auto;
}

.form-wrapper-01 input {
    font-size: 1.5em;
    width: 60%;
}

.intro {
    /*margin-left: 50px;*/
}

#logo1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQYV2P4DwABAQEAWk1v8QAAAABJRU5ErkJggg==) no-repeat center;
    position: absolute;
    top: 30px;
    /*left: 1000px;*/
    float: left;
    width: 350px;
    height: 200px;
}

#logo2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACklEQVQYV2P4DwABAQEAWk1v8QAAAABJRU5ErkJggg==) no-repeat center;
    position: absolute;
    top: 30px;
    /*left: 1000px;*/
    float: right;
    width: 350px;
    height: 200px;
}

/* jQuery Roundabout */
#carousel {
    height: 600px;
}
