<div id="box-module-shell" class="module-shell" data-ng-controller="BoxModule.ngController">
  <div class="webcom-property-panel-directive"></div>

  <!-- property slides -->
  <div type="text/webcom-template" id="box-tab-1">
    Tab 1 settings will show up here
    <div>
    <label>Color:</label><input type="text" data-ng-model="color"/>
    </div>
    
    
  </div>

  <div type="text/webcom-template" id="box-tab-2">
    Tab 2 content will show up in this Div
    <div>
    <label>Text:</label><input type="text" data-ng-model="text"/>
    </div>
     <div type="text/webcom-template" id="box-tab-1">
    Tab 1 settings will show up here
    <div>
    <label>Color:</label><input type="text" data-ng-model="color1"/>
    </div>
    
    
  </div>

  <div type="text/webcom-template" id="box-tab-2">
    Tab 2 content will show up in this Div
    <div>
    <label>Text:</label><input type="text" data-ng-model="text1"/>
    </div>
  </div>
</div>