<div id="googleplus-module-shell" class="module-shell" data-ng-controller="GooglePlusModule.ngController">
  <div class="webcom-property-panel-directive"></div>

  <!-- property slides -->
  
  <div type="text/webcom-template" id="box-tab-1">
   <div class="box title"><label>Social Properties</label> <inupt type="button" value="EDIT BOX" style="align:right" /></div>
   <div class="box body-properties">
    <div>
    <label>Button Size:</label>
    </div>
    <div>
    <select ng-model="size" kendo-drop-down-list>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="standard">Standard</option>
      <option value="tall">Tall</option>
    </select>
    </div>
    <div>
    <label>Layout Style:</label>
    </div>
    <div>
    <select ng-model="layout" kendo-drop-down-list>
      <option value="inline">Inline</option>
      <option value="bubble">Bubble</option>
      <option value="none">None</option>
    </select>
    </div>
  </div>
    <div class="box submit"><input type="button" value="SAVE TO CONTENT MANAGE"/></div>
</div>

</div>