<div id="gallery-module-shell" class="module-shell" data-ng-controller="GalleryModule.ngController">
    <div class="webcom-property-panel-directive"></div>
    <!-- property slides -->
    <div type="text/webcom-template" id="box-tab-1">
        <div class="gallery-properties-box">
            <label>Images</label>
            <button class="edit-box btn btn-default">Edit Box</button>
        </div>
        <div class="properties-images-grid">
            <div>
                <img onclick="javascript:$(this).hide();$('#addimage2').show();"  data-ng-click="setState('normal');"
                id="addimage1" style="width:auto;height:55px;"
                src="../app/modules/gallery/view/images/normal-gallery-prop.png" />
                <img onclick="javascript:$(this).hide();$('#addimage3').show();"  data-ng-click="setState('hover');"
                id="addimage2" style="display:none;width:auto;height:55px;"
                src="../app/modules/gallery/view/images/hover-gallery-prop.png" />
                <img onclick="javascript:$(this).hide();$('#addimage1').show();"  data-ng-click="setState('done');"
                id="addimage3" style="display:none;width:auto;height:55px;"
                src="../app/modules/gallery/view/images/done-gallery-prop.png" />
            </div>
            <ul id="sortable" data-ng-model="sortable"></ul>
        </div>
    </div>
    <div type="text/webcom-template" id="box-tab-2" style="top:200px">
        <div class="gallery-properties-box">
            <label>Setup</label>
            <button class="edit-box btn btn-default">Edit Box</button>
        </div>
        <div>
            <p>Display easy slide for
                <input id="number" type="number" size="5" style="width:100px;"
                data-ng-model="easySlide"/>seconds</p><br/>
            
                
            <input id="autoPlay" type="checkbox" value="" style="" data-ng-model="autoPlay"
            />Autoplay
            <input id="displayNavigation" type="checkbox" value="" data-ng-model="displayNavigation"
            checked/>Display Navigation
            <br/>
            <hr/>
            <input id="loopPlayBack" type="checkbox" value="" data-ng-model="loopPlayBack"
            />Loop Playback
            <input id="imageCounter" type="checkbox" value="" data-ng-model="imageCounter"
            />Display Image Counter
            <br/>
            <hr/>
            <b>Transition Effect:</b>
            <br/>
            <select id="transeffect" data-ng-model="transEffect">
                <option value="fade" ng-selected="transEffect">Fade</option>
                <option value="flash">Flash</option>
                <option value="pulse">Pulse</option>
                <option value="slide">Slide</option>
                <option value="fadeslide">Fade/Slide</option>
            </select>
            <hr/>
            <b>Transition Speed:</b>
            <br/>
            <select id="transitionSpeed" data-ng-model="transitionSpeed">
                <option value="100">0.1 (defalut)</option>
                <option value="500">0.5</option>
                <option value="1000">1.0</option>
                <option value="1500" selected>1.5</option>
                <option value="2000">2.0</option>
                <option value="2500">2.5</option>
                <option value="3000">3.0</option>
            </select>
            <hr/>
            <input id="pauseGalleryOnHover" type="checkbox" value="" data-ng-model="pauseGalleryOnHover"
            />Pause gallery when hovering over the gallery</div>
    </div>
    <div type="text/webcom-template" id="box-tab-3" style="top:200px">
        <div class="gallery-properties-box">
            <label>Style</label>
            <button class="edit-box btn btn-default">Edit Box</button>
        </div>
        <div>
            <b>Font Size:</b>
            <br/>
            <hr/>
            <select id="fontsize" data-ng-model="fontSize">
                <option value=8>8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="14">14</option>
                <option value="16" selected>16</option>
                <option value="18">18</option>
                <option value="20">20</option>
                <option value="22">22</option>
                <option value="24">24</option>
                <option value="26">26</option>
                <option value="28">28</option>
                <option value=36>36</option>
                <option value="48">48</option>
                <option value="72">72</option>
            </select>
            <hr/>
            <b>Font Family:</b>
            <br/>
            <select id="fontfamily" data-ng-model="fontFamily">
                <option value="arial" selected>Arial</option>
                <option value="Times New Roman">Times New Roman</option>
            </select>
            <hr/>
            <b>Font Color:</b>
            <select id="fontcolor" data-ng-model="fontColor">
                <option value="#FFFFFF">white</option>
                <option value="#000000">black</option>
                <option value=" #FF0000">Red</option>
            </select>
        </div>
    </div>
    <div type="text/webcom-template" id="box-tab-4">
        <div class="gallery-properties-box">
            <label>Details</label>
            <button class="edit-box btn btn-default">Edit Box</button>
        </div>
        <div class="details-img">
        
        </div>
        <br/>
         <p>Image Caption:
                <input id="imageCaption" type="text"  style="width:120px;" data-ng-model="imageCaption"/></p><br/>
                
               
               
                <p>Image Description:
                <input id="imageDescription" type="text"  style="width:120px;" data-ng-model="imageDescription"/></p>
                <button class="btn btn-default" data-ng-click="detailsSaveButton();">Save To Asset Manager</button>                
    </div>
</div>
     