
<div id="social-module-shell" class="module-shell" data-ng-controller="SocialModule.ngController">
  <div class="webcom-property-panel-directive"></div>

  <!-- property slides -->
  
  <div type="text/webcom-template" id="box-tab-1">
   <div class="box title"><label id="socialtitle">FACEBOOK LINK</label> <inupt type="button" value="Edit Box" style="align:right" /></div>
   <div class="box body-properties">
    <div>
    <label id="socialurl">Facebook URL</label>
    </div>
    <div>
    <input type="text" style="width:280px;height:25px" data-ng-model="url"/>
    </div>
    <div>
    <label enabled=false id="socialexample">Example:http://www.facebook.com/pagename</label>
    </div>
  </div>
    <div class="box submit"><input type="button" value="OK"/></div>
</div>

</div>