
<div id="media-module-shell" class="module-shell" data-ng-controller="MediaModule.ngController">
  <div class="webcom-property-panel-directive"></div>

  <!-- property slides -->
  <div type="text/webcom-template" id="box-tab-1">
   <div class="box title"><label>YouTube Video</label></div>
   <div class="box body-properties">
    <div>
    <label>Paste(CTRL + V) your YouTube code into the field below.</label>
    </div>
    <div>
    <textarea cols="40" rows="5" style="width:370px;height:125px" ng-model="code"></textarea>
    </div>
  </div>
    <div class="box submit"><input id="ok" type="button" value="OK" /></div>
</div>

</div>