<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!-- ***************** CORE Web Configuration ***************** -->
<!--
       <jsp-config>
               <jsp-property-group>
                       <url-pattern>*.jsp</url-pattern>
                       <el-ignored>false</el-ignored>
                       <include-prelude>/WEB-INF/taglibs.jspf</include-prelude>
                       <deferred-syntax-allowed-as-literal>true</deferred-syntax-allowed-as-literal>
                       <trim-directive-whitespaces>true</trim-directive-whitespaces>
               </jsp-property-group>
       </jsp-config>    
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/springsecurity-context.xml</param-value>
	</context-param>
-->
	<!-- https://bitbucket.org/akochnev/tap5-gae-utils/wiki/Home -->
	<context-param>
		<param-name>tapestry.DevelopmentMode-modules</param-name>
    	<param-value>com.troymaxventures.tapestry.gaeutils.GaeDevServerModule</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>app.controller.UserHandler</listener-class>
	</listener>
	<listener>
		<listener-class>app.controller.MovieHandler</listener-class>
	</listener>
	<listener>
		<listener-class>app.controller.CalendarHandler</listener-class>
	</listener>
<!-- Url rewrite stuff -->
<filter>
   <filter-name>UrlRewriteFilter</filter-name>
   <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
</filter>
<filter-mapping>
   <filter-name>UrlRewriteFilter</filter-name>
   <url-pattern>/*</url-pattern>
</filter-mapping>
<!--
    ====================================================================================================================
    JPA Configuration (comment out the following to deploy on GAEJ and to avoid "No bean named 'sessionFactory' is defined" error)
    ====================================================================================================================
-->
<!--
    <filter>
        <filter-name>OpenSessionInView</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInView</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
-->
<!--
    ====================================================================================================================
    End of JPA Configuration
    ====================================================================================================================
-->

<!--
    ====================================================================================================================
-->

<!-- Sitemesh 2.4.2 stuff -->
<!--
-->
<filter>  
   	<filter-name>sitemesh</filter-name>  
   	<filter-class>  
     com.opensymphony.module.sitemesh.filter.PageFilter  
   	</filter-class>  
</filter>  
<filter-mapping>
   	<filter-name>sitemesh</filter-name>  
   	<url-pattern>/*</url-pattern>  
	<dispatcher>FORWARD</dispatcher>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>INCLUDE</dispatcher>
   	<!--
	-->
</filter-mapping> 
<context-param>
  	<param-name>sitemesh.configfile</param-name>
	<param-value>/WEB-INF/sitemesh.xml</param-value>
</context-param>


<!-- Spring Security stuff
-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
		<!--
		-->
	</filter-mapping>


<!-- XSS filter stuff (http://www.servletsuite.com/servlets/xssflt.htm) -->
<!-- 
<filter> 
  <filter-name>XSSFilter</filter-name> 
  <filter-class>com.cj.xss.XSSFilter</filter-class> 
</filter>
<filter-mapping> 
  	<filter-name>XSSFilter</filter-name>
  	<url-pattern>/*</url-pattern> 
</filter-mapping>
-->

<!-- Spring MVC stuff -->
	<context-param>
	  <param-name>contextClass</param-name>
	  <param-value>com.appspot.cloudserviceapi.springmvc.controller.CustomXmlWebApplicationContext</param-value>
	</context-param>
    <!-- Handles Spring requests -->
    <servlet>
        <servlet-name>cloudserviceapi</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
<!--
            <param-value>WEB-INF/spring/webmvc-config.xml</param-value>
-->
          	<param-value>WEB-INF/dispatcher-servlet.xml</param-value>
            </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>cloudserviceapi</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>
    
    <!-- Enable escaping of form submission contents -->
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/spring/springsecurity-context.xml
            WEB-INF/applicationContext.xml
<!--
        	classpath*:META-INF/spring/applicationContext*.xml
-->
        </param-value>
    </context-param>
    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    
    
    
    <filter>
        <filter-name>HttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
            <param-name>entityManagerFactoryBeanName</param-name>
            <!-- the persistence unit name used by entityManagerFactory should be the same name as the one defined in persistence.xml -->
            <param-value>entityManagerFactory</param-value>
      	</init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>HttpMethodFilter</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>
    
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/custom_error.html</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/custom_error.html</location>
    </error-page>

      
<!-- Tapestry 5.3 stuff -->
<context-param>
	<param-name>tapestry.production-mode</param-name>
    <param-value>false</param-value>
</context-param>
<!-- The only significant configuration for Tapestry 5 Core, this informs Tapestry of where to look for pages, components and mixins. -->
<context-param>
	<param-name>tapestry.app-package</param-name>
	<param-value>tapp</param-value>
</context-param>
<!--
<context-param>
	<param-name>tapestry.use-external-spring-context</param-name> 
   	<param-value>true</param-value> 
</context-param>
-->
 <filter>
 <filter-name>app</filter-name>
<!-- source: http://tapestry.apache.org/current/tapestry-spring/ -->
<!-- Give the following exception
java.lang.RuntimeException: Exception constructing service 'ApplicationContext': Cannot initialize context because there is already a root application context present - check whether you have multiple ContextLoader* definitions in your web.xml!
-->
<!--
 <filter-class>org.apache.tapestry5.spring.TapestrySpringFilter</filter-class>
-->
 <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
 </filter>
 <filter-mapping>
 <filter-name>app</filter-name>
 	<url-pattern>/*</url-pattern>
 	<dispatcher>FORWARD</dispatcher>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>INCLUDE</dispatcher>
 	<!--
	 -->
 </filter-mapping>
 
<!-- logDigger stuff -->
<!--
<filter>
  <filter-name>LogDiggerServletFilter</filter-name>
  <filter-class>com.logdigger.connector.servlet.LogDiggerConnectorFilter</filter-class>
  <init-param>
    <param-name>config</param-name>
    <param-value>
 
      Collect always logs
 
      MailOnError from=admin@gmail.com to=admin@gmail.com
 
    </param-value>
  </init-param>
</filter>
 
<filter-mapping>
  <filter-name>LogDiggerServletFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
-->
<servlet>
	<servlet-name>CrudServlet</servlet-name>
	<servlet-class>app.controller.CrudService</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CrudServlet</servlet-name>
	<url-pattern>/ws/crud</url-pattern>
	<!--
 	<dispatcher>FORWARD</dispatcher>
	<dispatcher>REQUEST</dispatcher>
	<dispatcher>INCLUDE</dispatcher>
	 -->
</servlet-mapping>

<!-- GAEJ warmup request -->
<!--
<servlet>
    <servlet-name>_ah_warmup</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.service.WarmingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>_ah_warmup</servlet-name>
    <url-pattern>/_ah/warmup</url-pattern>
</servlet-mapping>	
-->

<!-- Datastore export/import stuff -->
<!--
<servlet>
	<servlet-name>ExportDS</servlet-name>
	<jsp-file>/sgc/jsp/export.jsp</jsp-file>
</servlet>
<servlet-mapping>
	<servlet-name>ExportDS</servlet-name>
	<url-pattern>/sgc/out</url-pattern>
</servlet-mapping>
-->
 
<!-- Settings -->
<!--
<servlet>
    <description/>
    <display-name>URLServlet</display-name>
    <servlet-name>URLServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.service.URLServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>URLServlet</servlet-name>
    <url-pattern>/url</url-pattern>
</servlet-mapping>
-->

<!-- Settings -->
<servlet>
	<servlet-name>PostSettingsServlet</servlet-name>
	<servlet-class>com.appspot.cloudserviceapi.common.SettingsPostServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>SettingsServlet</servlet-name>
	<servlet-class>com.appspot.cloudserviceapi.common.SettingsServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>PostSettingsServlet</servlet-name>
	<url-pattern>/postsettings</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>SettingsServlet</servlet-name>
	<url-pattern>/settings</url-pattern>
</servlet-mapping>  
  
<!--
  <description>Caucho Technology's PHP Implementation</description>
  <servlet>
    <servlet-name>Quercus Servlet</servlet-name>
    <servlet-class>com.appcloem.quercus.GAEQuercusServlet</servlet-class>
		<init-param>
			<param-name>compile</param-name>
			<param-value>false</param-value>
		</init-param>
-->		
    <!-- Specifies the encoding Quercus should use to read in PHP scripts.
         Uncomment this if you're having "invalid utf-8" errors.
    -->
    <!--
    <init-param>
      <param-name>script-encoding</param-name>
      <param-value>ISO-8859-1</param-value>
    </init-param>
    -->

    <!-- Tells Quercus to use the following JDBC database and to ignore the
         arguments of mysql_connect().
    -->

   
    <!-- inject jsession thus enabling
         application for load balancing (sticky session).
         not used since  Quercus goes belly up if unrecognized init parameter is passed (as it should)
    <init-param>
      <param-name>injectjsession</param-name>
      <param-value>true</param-value>
    </init-param>     
	-->

    <!--
    <init-param>
      <param-name>php-ini-file</param-name>
      <param-value>WEB-INF/php.ini</param-value>
    </init-param>
    -->

<!--    
	begin Password Change Station
-->
  <servlet>
     <servlet-name>MainServlet</servlet-name>
     <servlet-class>passwordchange.core.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/changeEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/simpleChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/saveQuestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/promptUserID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/promptUserQuestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/promptQuestion1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/promptQuestion2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/promptQuestion3</url-pattern>
  </servlet-mapping>
<!--
  -->
   <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/validateQuestion1</url-pattern>
  </servlet-mapping>
   <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/validateQuestion2</url-pattern>
  </servlet-mapping>
      <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/validateQuestion3</url-pattern>
  </servlet-mapping>
   <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/resetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>     
     <servlet-name>MainServlet</servlet-name>
     <url-pattern>/passwordchange/setupPassword</url-pattern>
  </servlet-mapping>
<!--
	end Password Change Station
-->

	<servlet>
		<servlet-name>SoapyGreenCleaningRequestForm</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sgc.RequestFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoapyGreenCleaningRequestForm</servlet-name>
		<url-pattern>/sgc/request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SoapyGreenCleaningWorkForm</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sgc.WorkFormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoapyGreenCleaningWorkForm</servlet-name>
		<url-pattern>/sgc/work</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SoapyGreenCleaningAdminReport</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sgc.AdminReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoapyGreenCleaningAdminReport</servlet-name>
		<url-pattern>/sgc/managerreport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoapyGreenCleaningClientReport</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sgc.ClientReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoapyGreenCleaningClientReport</servlet-name>
		<url-pattern>/sgc/report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoapyGreenCleaningAdminAction</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sgc.AdminActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoapyGreenCleaningAdminAction</servlet-name>
		<url-pattern>/sgc/admin</url-pattern>
	</servlet-mapping>

<!--
	<servlet>
		<servlet-name>Nuker</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.data.FormsnukerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Nuker</servlet-name>
		<url-pattern>/nuke</url-pattern>
	</servlet-mapping>
-->	
	<servlet>
		<servlet-name>SignGuestbook</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sgc.guestbook.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignGuestbook</servlet-name>
		<url-pattern>/sgc/sign</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SCISignGuestbook</servlet-name>
		<servlet-class>com.appspot.cloudserviceapi.sci.guestbook.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SCISignGuestbook</servlet-name>
		<url-pattern>/sci/sign</url-pattern>
	</servlet-mapping>

<!--
  <servlet>
    <description></description>
    <display-name>CalendarEventServlet</display-name>
    <servlet-name>CalendarEventServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.fios.CalendarEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarEventServlet</servlet-name>
    <url-pattern>/sci/CalendarEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarEventServletI</display-name>
    <servlet-name>CalendarEventServletI</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.fios.CalendarEventServletI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarEventServletI</servlet-name>
    <url-pattern>/sci/CalendarEventServletI</url-pattern>
  </servlet-mapping>
-->
<!--
  <servlet>
    <description/>
    <display-name>CalendarEventServletII</display-name>
    <servlet-name>CalendarEventServletII</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.fios.CalendarEventServletII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarEventServletII</servlet-name>
    <url-pattern>/sci/CalendarEventServletII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>CalendarEvent</display-name>
    <servlet-name>CalendarEvent</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.fios.CalendarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarEvent</servlet-name>
    <url-pattern>/sci/ce</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>CalendarRegistration</display-name>
    <servlet-name>CalendarRegistration</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.fios.CalendarRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarRegistration</servlet-name>
    <url-pattern>/sci/cr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>CalendarAuthenticate</display-name>
    <servlet-name>CalendarAuthenticate</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.fios.CalendarAuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarAuthenticate</servlet-name>
    <url-pattern>/sci/authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>CodesionPreCommitServlet</display-name>
    <servlet-name>CodesionPreCommitServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.services.CodesionPreCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodesionPreCommitServlet</servlet-name>
    <url-pattern>/sci/codesionprecommit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>CodesionPostCommitServlet</display-name>
    <servlet-name>CodesionPostCommitServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.services.CodesionPostCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodesionPostCommitServlet</servlet-name>
    <url-pattern>/sci/codesionpostcommit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>CodesionSVNServlet</display-name>
    <servlet-name>CodesionSVNServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.services.CodesionSVNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodesionSVNServlet</servlet-name>
    <url-pattern>/sci/svn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>BigTimeServlet</display-name>
    <servlet-name>BigTimeServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.services.BigTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BigTimeServlet</servlet-name>
    <url-pattern>/sci/bigtime</url-pattern>
  </servlet-mapping>
-->
  <servlet>
    <description/>
    <display-name>ServiceRegistryServlet</display-name>
    <servlet-name>ServiceRegistryServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.services.ServiceRegistryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceRegistryServlet</servlet-name>
    <url-pattern>/sci/go</url-pattern>
  </servlet-mapping>
  <servlet>
    <description/>
    <display-name>ServiceRegistryServlet</display-name>
    <servlet-name>ServiceRegistryServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.sci.services.ServiceRegistryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceRegistryServlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>serviceregistry</servlet-name>
		<jsp-file>/sci/serviceregistrystart</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>serviceregistry</servlet-name>
		<url-pattern>/sr</url-pattern>
	</servlet-mapping>
<servlet>
 <servlet-name>SCIGAEJSendEmailServlet</servlet-name>
 <servlet-class>com.appspot.cloudserviceapi.sci.services.GAEJSendEmailServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SCIGAEJSendEmailServlet</servlet-name>
 <url-pattern>/sci/email</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>SCIGAEJReceiveEmailServlet</servlet-name>
<servlet-class>com.appspot.cloudserviceapi.sci.services.GAEJReceiveEmailServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SCIGAEJReceiveEmailServlet</servlet-name>
<url-pattern>/_ah/mail/*</url-pattern>
</servlet-mapping>
<!-- CIBT Drupal stuff -->
<!--
<servlet>
    <servlet-name>DrupalDropServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.data.DrupalDropServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DrupalDropServlet</servlet-name>
    <url-pattern>/task/drupaldrop</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>DrupalInitServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.data.DrupalInitServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DrupalInitServlet</servlet-name>
    <url-pattern>/task/drupalinit</url-pattern>
</servlet-mapping>
-->
<servlet>
    <servlet-name>CompassIndexServlet</servlet-name>
    <servlet-class>com.appspot.cloudserviceapi.data.CompassIndexServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CompassIndexServlet</servlet-name>
    <url-pattern>/task/compassindex</url-pattern>
</servlet-mapping>
<!--
-->
<!-- http://blog.notdot.net/2010/04/Using-the-new-bulkloader -->
  <!-- Add this to your web.xml to enable remote API on Java. -->
  <servlet>
    <servlet-name>remoteapi</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteapi</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>
 
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
<!--
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
-->
<!-- For CapeDwarf DEV mode (http://capedwarf.org/documentation/user-guide/) 
	<context-param>
	  <param-name>com.google.appengine.runtime.environment</param-name>
	  <param-value>Development</param-value>
	</context-param>
-->
	<security-constraint>
        <web-resource-collection>
<!-- comment out these in local CapeDwarf to avoid redirect loop error due to non-existing SSL port -->
<!--
-->
            <url-pattern>/userstart</url-pattern>
            <url-pattern>/usersave/*</url-pattern>
            <url-pattern>/sci/serviceregistrysave/*</url-pattern>
            <url-pattern>/g/app/templatesave/*</url-pattern>
            <url-pattern>/g/owasp/securedsave/*</url-pattern>
            <url-pattern>/g/social/socialsave/*</url-pattern>            
            <url-pattern>/postsettings</url-pattern>
            <url-pattern>/settings</url-pattern>
<!-- relegated to the Google authentication until Shiro is in place	
            <url-pattern>/app/*</url-pattern>
            <url-pattern>/sgc/jsp/admin.jsp</url-pattern>
-->
<!-- jiql stuff - obsolete, not working, to be removed soon! -->
<!--
            <url-pattern>/cibt/scripts/*</url-pattern>
            <url-pattern>/task/drupalinit</url-pattern>
-->
<!--
            <url-pattern>/sci/service*</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
			<url-pattern>/g/*</url-pattern>
-->
            <url-pattern>/appstats/*</url-pattern>
            <url-pattern>/stats/*</url-pattern>
			<url-pattern>/_ah/mail/*</url-pattern>
         </web-resource-collection>
		<!-- TODO JBOSS: comment this out on local dev as it won't work? (c.f. https://community.jboss.org/message/871043#871043) -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
<!--        
-->
<!--        
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
-->
    </security-constraint>

<!-- enable appstats (http://code.google.com/appengine/docs/java/tools/appstats.html)
	<servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
	<filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>logMessage</param-name>
            <param-value>Appstats available: /appstats/details?time={ID}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

<!-- https://developers.google.com/appengine/docs/quotas -->
	<!-- TODO commented out due to https://community.jboss.org/message/868254#868254 -->
	<!--
	<error-page>
	    <exception-type>com.google.apphosting.api.ApiProxy$OverQuotaException</exception-type>
	    <location>/error/no_more_quota.html</location>
	</error-page>
	-->
	<error-page>
	    <exception-type>java.lang.Throwable</exception-type>
	    <location>/error/custom_error.html</location>
	</error-page>
	<!-- http://code.google.com/p/googleappengine/issues/detail?id=1477 -->
	<error-page>
		<error-code>401</error-code>
	    <location>/error/unauthorized_error.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
	    <location>/error/forbidden_error.html</location>
	</error-page>
	<!--
	<error-page>
		<error-code>404</error-code>
		<location>/error/not_found.html</location>
	</error-page>
	-->
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>app.model.CalendarEndpoint,app.model.MovieEndpoint,app.model.UserEndpoint,com.bkper.server.api.TransactionEndpoint,tapp.model.ServiceRegistryUserEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
	<!-- http://forrst.com/posts/HTML5_application_cache_on_GAE_Java-sVR -->
	<!-- prefer appcache to be friendly with .Net server :-) -->
	<mime-mapping>
		<extension>appcache</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>
</web-app>