div[type="text/webcom-template"] {
  border: 1px solid #A4A4A4;
  height: 300px;
  width: 400px;
  overflow-y: scroll;
}

.module-shell {
  display: none;
}

.neo-asset .ui-resizable-se,
.neo-asset .ui-resizable-sw,
.neo-asset .ui-resizable-ne,
.neo-asset .ui-resizable-nw {
  background-color: #FFFFFF;
  border: 2px solid #0576FF;
  border-radius: 10px 10px 10px 10px;
  display: block !important;
  height: 7px;
  width: 7px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.neo-asset .ui-resizable-se {
  bottom: -5px;
  right: -5px;
  background-image: none;
}

.neo-asset .ui-resizable-n, #canvas .neo-asset .ui-resizable-s {
  margin-left: 15px;
  width: 85%;
  height: 15px;
}
.neo-asset .ui-resizable-e, #canvas .neo-asset .ui-resizable-w {
  margin-top: 15px;
  height: 80%;
  width: 15px;
}

.neo-asset.selected .ui-resizable-se,
.neo-asset.selected .ui-resizable-sw,
.neo-asset.selected .ui-resizable-ne,
.neo-asset.selected .ui-resizable-nw,
.neo-asset.selected .ui-resizable-se {
  display: block !important;

}